{
  "Attestation-CRUD+[NoContext]+Attestation-SubscriptionScope-Crud+$PUT+https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/attestations/Attestation-SubscriptionScope-Crud?api-version=2024-10-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/attestations/Attestation-SubscriptionScope-Crud?api-version=2024-10-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyAssignments/PSAttestationSubAssignment\",\r\n    \"complianceState\": \"Compliant\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [ "99" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"provisioningState\":\"Succeeded\",\"policyAssignmentId\":\"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policyassignments/psattestationsubassignment\",\"complianceState\":\"Compliant\",\"lastComplianceStateChangeAt\":\"2026-03-30T19:49:02.6309796Z\"},\"id\":\"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.policyinsights/attestations/attestation-subscriptionscope-crud\",\"name\":\"Attestation-SubscriptionScope-Crud\",\"type\":\"Microsoft.PolicyInsights/attestations\",\"systemData\":{\"createdBy\":\"dunnryan@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2026-03-30T19:49:02.6309796Z\",\"lastModifiedBy\":\"dunnryan@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2026-03-30T19:49:02.6309796Z\"}}",
    }
  },
  "Attestation-CRUD+[NoContext]+Attestation-SubscriptionScope-Crud+$GET+https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/attestations/Attestation-SubscriptionScope-Crud?api-version=2024-10-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/attestations/Attestation-SubscriptionScope-Crud?api-version=2024-10-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "28" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [ "99" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"provisioningSta[...]
