{
  "Get-AzPolicyEvent+[NoContext]+ManagementGroupScope+$POST+https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2024-10-01\u0026$top=10\u0026$from=2026-03-25T11:57:10.0000000-07:00+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2024-10-01\u0026$top=10\u0026$from=2026-03-25T11:57:10.0000000-07:00",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "104" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [ "99" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"@odata.context\":\"https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default\",\"@odata.count\":10,\"value\":[{\"@odata.id\":null,\"@odata.context\":\"https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\"timestamp\":\"2026-03-30T18:48:06.4934976Z\",\"resourceId\":\"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/ps-attestation-test-rg/providers/Microsoft.Network/networkSecurityGroups/pstests0\",\"policyAssignmentId\":\"/providers/microsoft.management/managementgroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/PSTestDeployAssignmentMG\",\"policyDefinitionId\":\"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/PSTestDINEDefinition\",\"effectiveParameters\":\"\",\"isCompliant\":false,\"subscriptionId\":\"e5a130f3-57fd-46b6-9c55-03d21a853935\",\"resourceType\":\"Microsoft.Network/networkSecurityGroups\",\"resourceLocation\":\"westus\",\"resourceGroup\":\"ps-attestation-test-rg\",\"resourceTags\":\"tbd\",\"policyAssignmentName\":\"PSTestDeployAssignmentMG\",\"policyAssignmentOwner\":\"tbd\",\"policyAssignmentParameters\":\"\",\"policyAssignmentScope\":\"/providers/microsoft.management/managementgroups/PowershellTesting\",\"policyDefinitionName\":\"PSTestDINEDefinition\",\"policyDefinitionAction\":\"deployifnotexists\",\"policyDefinitionCategory\":\"tbd\",\"policySetDefinitionId\":\"\",\"policySetDefinitionName\":\"\",\"policySetDefinitionOwner\":\"\",\"policySetDefinitionCategory\":\"\",\"policySetDefinitionParameters\":\"\",\"managementGroupIds\":\"PowershellTesting,AzGovPerfTest,72f988bf-86f1-41af-91ab-2d7cd011db47\",\"policyDefinitionReferenceId\":\"\",\"complianceState\":\"NonCompliant\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"principalOid\":\"aaa98dcf-7592-4632-a750-6f61c2d0d1d7\"},{\"@odata.id\":null,\"@odata.context\":\"https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\"timestamp\":\"2026-03-30T18:47:41.7571253Z\",\"resourceId\":\"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/ps-attestation-test-rg/providers/Microsoft.Network/networkSecurityGroups/pstests0\",\"policyAssignmentId\":\"/provi[...]
