{
  "Remediation-CRUD+[NoContext]+SubscriptionScope-Crud+$POST+https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/remediations/Remediation-SubscriptionScope-Crud/listDeployments?api-version=2024-10-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/remediations/Remediation-SubscriptionScope-Crud/listDeployments?api-version=2024-10-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "269" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [ "99" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"remediatedResourceId\":\"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg2/providers/microsoft.network/networksecuritygroups/pstests506\",\"deploymentId\":\"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg2/providers/microsoft.resources/deployments/policydeployment_2462150941770807507\",\"status\":\"Succeeded\",\"resourceLocation\":\"northcentralus\",\"createdOn\":\"2026-03-30T18:59:15.6845288Z\",\"lastUpdatedOn\":\"2026-03-30T19:00:28.8477001Z\"},{\"remediatedResourceId\":\"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg2/providers/microsoft.network/networksecuritygroups/pstests484\",\"deploymentId\":\"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg2/providers/microsoft.resources/deployments/policydeployment_5437417453485752741\",\"status\":\"Succeeded\",\"resourceLocation\":\"westus2\",\"createdOn\":\"2026-03-30T18:59:15.6845382Z\",\"lastUpdatedOn\[...]
